body {
    background: #172153;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    height: 100vh;
}
.text{
    color: #f56f46;
}

#left-panel img, #right-panel img {
    transition: transform 0.67s ease-in-out;
    z-index: 10000000;
    position: relative;
    transform: translateX(0%);
    height: 100%;
    width: 100%;
}
  #second-col, #first-col{
    border: 2px solid #f56f46;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #login-form-container, #registration-form-container {
    transition: transform 0.4s ease-in-out;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  #registration-form-container, #right-panel {
    display: none;
  }
  #login-form-container {
    transform: translateX(0%);
  }
  #registration-form-container {
    transform: translateX(100%);
  }
  #login-form-container, #left-panel {
    display: block;
  }
  .btn-orange{
    border-color: #f56f46;
    border-radius: 50px;
    background-color:#f56f46;
    color:white;
    font-weight: 600;
    transition: all .3s ease-out .07s;
    padding: 10px;
}
.btn-white{
    border-color: white;
    border-radius: 50px;
    background-color:white;
    color:#f56f46;
    font-weight: 600;
    transition: all .3s ease-out .07s;
    padding: 10px;
}
.form-control-redefined-orange
{
    background-color: #f56f46;
    border-radius: 10px;
    color: black;
    font-weight: 700;
}
.form-control-redefined-orange:focus
{
    background-color: white;
    border-radius: 10px;
    color: black;
    font-weight: 700;
}
.form-control-redefined-white
{
    background-color: white;
    border-radius: 10px;
    color: black;
    font-weight: 700;
}
.form-control-redefined-white:focus
{
    background-color: #f56f46;
    border-radius: 10px;
    color: black;
    font-weight: 700;
}